.cube-wrapper {
	width: 200px;
	height: 200px;
	position: relative;
	margin: 140px auto 60px auto;
	perspective: 1000px;
}

.cube {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform: translateZ( -200px ) rotateZ(0) rotateX(-20deg) rotateY(45deg) translateX(-40px) translateY(-120px);

}

.cube figure, .fake-cube-top {
	width: 196px;
	height: 196px;
	display: block;
	position: absolute;
	border: 2px solid #3E2723;
	top: 0;
	left:0;

	line-height: 196px;
	font-size: 120px;
	text-align: center;
	transform-style: preserve-3d;
}

.cube .front    { transform: rotateY(   0deg ) translateZ(100px); background: #795548; }
.cube .back     { transform: rotateX( 180deg ) translateZ(100px); background: #5D4037; }
.cube .right    { transform: rotateY(  90deg ) translateZ(100px); background: #4E342E;  }
.cube .left     { transform: rotateY( -90deg ) translateZ(100px); background: #8D6E63; }
.cube .top     { transform: rotateX(  90deg ) translateZ(100px); }
.cube .shadow   { transform: rotateX( -90deg ) translateZ(100px) translateX(0); width: 355px; background: rgba(0,0,0,0.1); border: 0; padding: 2px; }

.cube .top div,
.fake-cube-top div { 
	width: 50%; 
	height: 100%; 
	position: absolute;
	
	font-size: 60px;
	transform-origin: left center;

	border: 1px solid #3E2723;
}

.cube .top .lower,
.fake-cube-top .lower { 
	height: 50%; 
	width: 100%; 
	line-height: 96px;
}

.cube:hover .top .lower,
.fake-cube-top:hover .lower { 
	z-index: 2;
}

.cube .top div,
.cube .shadow,
.fake-cube-top div { 
	transition: transform 1s ease 1s,
				background 1s ease 1s;
}


.cube .top .lower,
.fake-cube-top .lower { 
	transition: transform 1s ease 0s,
				background 1s ease 0s, 
				z-index 0 ease 1s;
}

.cube:hover .top div,
.cube:hover .shadow,
.fake-cube-top:hover div { 
	transition: transform 1s ease 0s,
				background 1s ease 0s;
}


.cube:hover .top .lower,
.fake-cube-top:hover .lower { 
	transition: transform 1s ease 1s,
				background 1s ease 1s, 
				z-index 0 ease 1s;
}


.cube .top .upper-right,
.fake-cube-top .upper-right { 
	transform-origin: right center; 
	transform: translateZ(0px) translateX(98px); 
	background: #795548; 
}

.cube .top .lower-right,
.fake-cube-top .lower-right { 
	transform-origin: bottom center; 
	transform: translateZ(-1px) translateY(98px); 
	background: #8D6E63; 
}

.cube .top .upper-left,
.fake-cube-top .upper-left { 
	transform-origin: left center; 
	transform: translateZ(0px);
	background: #8D6E63; 
}

.cube .top .lower-left,
.fake-cube-top .lower-left { 
	transform-origin: top center; 
	transform: translateZ(-1px); 
	background: #795548; 
}

.cube:hover .top .upper-right,
.fake-cube-top:hover .upper-right { 
	transform: translateZ(-1px) translateX(98px) rotateY(150deg); 
	background: #795548;
}

.cube:hover .top .lower-right,
.fake-cube-top:hover .lower-right { 
	transform: translateZ(-1px) translateY(98px) rotateX(-150deg); 
	background: #A1887F;
}

.cube:hover .top .upper-left,
.fake-cube-top:hover .upper-left { 
	transform: translateZ(-1px) rotateY(-150deg);  
	background: #A1887F;
}

.cube:hover .top .lower-left,
.fake-cube-top:hover .lower-left { 
	transform: translateZ(-1px) rotateX(150deg); 
	background: #795548;
}

.cube:hover .shadow,
.fake-cube-top:hover .lower-left { 
	transform: rotateX( -90deg ) translateZ(100px) translateX(100px); 
}

