@-webkit-keyframes jiggle {
    0% {
	    transform: rotate(0);
	}
	5% {
	    transform: rotate(-1deg);
	}
	20% {
	    transform: rotate(1deg);
	}
	30%, 100% {
	    transform: rotate(0);
	}
}

.cube-wrapper {
	width: 200px;
	height: 200px;
	position: relative;
	margin: 100px auto 60px auto;
	perspective: 500px;
	cursor: pointer;
	/*-webkit-animation: jiggle 2s ease infinite;*/
}

.cube-wrapper p {
	position: absolute;
	bottom: -70px;
	width: 100%;
	text-align: center;
	color: #aaa;
	transition: all 0.5s ease 3s;
}

.cube-wrapper.open p {
	transform: translateY(50px);
	transition: all 0.5s ease 0;
	opacity: 0;
}

.cube-wrapper.open {
	/*-webkit-animation: none;*/
}

.open-message {
	visibility: hidden;
	transform: translateY(50px) scale(0.2);
	transform-origin: bottom center;
	text-align: center;
	z-index: 3;
	position: relative;
	background: rgba(255, 255, 255, 0.9);
	padding: 10px;
	max-width: 700px;
	margin: -100px auto 0;
	opacity: 0;

	transition: all 0.5s ease 0;
}

.cube-wrapper.open + .open-message  {
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
	transition: all 0.5s ease 3s;
}

.cube {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform: translateZ( -200px ) rotateZ(0) rotateX(-20deg) rotateY(45deg) translateX(-40px) translateY(-120px);
	cursor: pointer;
}

.cube figure {
	width: 196px;
	height: 196px;
	display: block;
	position: absolute;
	border: 2px solid #3E2723;
	top: 0;
	left:0;

	line-height: 196px;
	font-size: 120px;
	text-align: center;
	transform-style: preserve-3d;
	cursor: pointer;
}

.cube .front    { transform: rotateY(   0deg ) translateZ(100px); background: #795548; }
.cube .back     { transform: rotateX( 180deg ) translateZ(100px); background: #5D4037; }
.cube .right    { transform: rotateY(  90deg ) translateZ(100px); background: #4E342E;  }
.cube .left     { transform: rotateY( -90deg ) translateZ(100px); background: #8D6E63; }
.cube .top     { transform: rotateX(  90deg ) translateZ(100px); }
.cube .bottom   { transform: rotateX( -90deg ) translateZ(99px); background: #4E342E; }
.cube .shadow   { transform: rotateX( -90deg ) translateZ(101px) translateX(0); width: 355px; background: rgba(0,0,0,0.1); border: 0; padding: 2px; }

.cube .present   { margin: 0; width: 150px; height: 60px; transform: rotateX( -90deg ) rotateZ(29deg) translateZ(280px) translateY(-76px) translateX(60px); border: 0; }

.cube .top div { 
	width: 50%; 
	height: 100%; 
	position: absolute;
	
	font-size: 60px;
	transform-origin: left center;

	border: 1px solid #3E2723;
	box-sizing: border-box;
}

.cube .top .lower { 
	height: 50%; 
	width: 100%; 
	line-height: 96px;
}

.open .cube .top .lower { 
	z-index: 2;
}

.cube .top div,
.cube .shadow { 
	transition: transform 1s ease 2s,
				background 1s ease 2s;
}


.cube .top .lower { 
	transition: transform 1s ease 1s,
				background 1s ease 1s, 
				z-index 0 ease 1s;
}

.open .cube .top div,
.open .cube .shadow { 
	transition: transform 1s ease 0s,
				background 1s ease 0s;
}


.open .cube .top .lower { 
	transition: transform 1s ease 1s,
				background 1s ease 1s, 
				z-index 0 ease 1s;
}


.cube { 
	transition: transform 1s ease 1s,
				background 1s ease 1s;
}

.open .cube { 
	transition: transform 1s ease 2s,
				background 1s ease 2s;
}

.cube .present { 
	transition: transform 1s ease 0,
				background 1s ease 0;
}


.open .cube .present { 
	transition: transform 1s ease 2.5s,
				background 1s ease 2.5s;
}


.cube .top .upper-right { 
	transform-origin: right center; 
	transform: translateZ(0px) translateX(98px); 
	background: #795548; 
}

.cube .top .lower-right { 
	transform-origin: bottom center; 
	transform: translateZ(-1px) translateY(98px); 
	background: #8D6E63; 
}

.cube .top .upper-left { 
	transform-origin: left center; 
	transform: translateZ(0px);
	background: #8D6E63; 
}

.cube .top .lower-left { 
	transform-origin: top center; 
	transform: translateZ(-1px); 
	background: #795548; 
}

.open .cube .top .upper-right { 
	transform: translateZ(-1px) translateX(98px) rotateY(150deg); 
	background: #795548;
}

.open .cube .top .lower-right { 
	transform: translateZ(-1px) translateY(98px) rotateX(-150deg); 
	background: #A1887F;
}

.open .cube .top .upper-left { 
	transform: translateZ(-1px) rotateY(-150deg);  
	background: #A1887F;
}

.open .cube .top .lower-left { 
	transform: translateZ(-1px) rotateX(150deg); 
	background: #795548;
}

.open .cube .shadow { 
	transform: rotateX( -90deg ) translateZ(101px) translateX(100px); 
}

.open .cube { 
	transform: translateZ(-200px) rotateZ(0) rotateX(-70deg) rotateY(45deg) translateX(-40px) translateY(-120px);
}

.open .cube .present { 
	transform: rotateX(60deg) rotateY(-25deg) rotateZ(38deg) translateY(-125px) translateZ(160px) translateX(41px);
}

